@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.display{
    display:flex;
    margin-top:45px ;
}
.mobile-img{
    height:50px ;
    width:50px ;
    border:1px solid rgb(187, 164, 164);
    border-radius:5% ;
    display:flex ;
}
*{
    font-family: "Poppins", sans-serif;
}
.product-name{
    font-size:22px ;
    line-height:32px ;
}
.content-box{
    height:400px;
    width:260px ;
   margin-top:20px ;
    border:0.3px solid black ;
    border-radius:3% ;
}

.root-to-store{
    font-size:14px ;
    color:#007185;
   
}
.rating-chart{
    font-size:14px ;
    
}
body{
    font-size:14px ;
    line-height:20px ;
}
.product-img {
    height: 500px;
    width: 450px;
    cursor: pointer;
   
}
.product-img:hover {
    transition:  0.3s; 
    transform: scale(0.9);
}
.img1{
    height:17px ;
    width:70px ;
    background-color:white ; 
}
.product-price{
    font-size:24px ;
    font-weight: 500;
}
.customer-choice{
    height: 35px;
    width:100px ; 
}
.custemers-buying-product{
    font-size:12px ;
    opacity:0.6 ;  ;
}
.product-strike-price{
    font-size:11px ;
    opacity:0.6 ;
}
.product-taxes{
opacity:0.7 ;

}
.product-offer{
    font-weight: 550; 
    font-size:13px ;
}
.product-bankoffer{
    font-weight: 550; 
    font-size:13px ; 
}
.product-discount{
    font-size:12.5px ;
    text-align: center;
}
.offer-button{
   margin-top:20px ;
}
.offers-box{
    height:130px;
    width:140px ;
    margin-left:5px ;
    border-radius:4px ;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.offer-boxes-display{
    display: flex;
} 

.product-transpotation{
    display: flex;
    color:rgb(80, 100, 107);
    font-size:11px;
    justify-content: space-around;
}
.product-colour-name{
    opacity:0.6 ;
    margin-top:40px ;
}
.mobile-color{
    height:35px ;
    width:35px ;
   border-radius:50% ;
    border:1px solid black; 
}
.product-contentbox{
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    height:325px ;
    border-radius:5% ;
}
.contentbox-space{
    margin-left:5px ;
}
.button-color {
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer;
   opacity:0.7 ;
   margin-left:5px ;
  }
  
  .button-color:hover {
    transition:  0.2s;
    transform: scale(1.1);
  }
.displaycolors{
    display:flex;
}
.displaysize{
    display:flex;
}
.button-size{
    box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.2);
    height: 30px;
    width:70px ;
    margin-left:15px;
    border-radius:8% ;
}
.product-features{
margin-top: 15px;
}
.brand-space{
    margin-left:60px ;
}
.brand-bold{
    font-weight: 600;
    font-size:13px ; 
}
.content-box{
    height:320px ;
    width: 280px;
}
.product-mainprice{
    font-size:11px ;
    margin-top:-5px ;
}
.contentfont{
    font-size: 14px ;
}
.product-withexchange{
    color: rgb(217, 42, 42);
}
.checkbox{
   margin-left:120px ;
     margin-top:10px ;
}
.bgcolor{
    background-color:lightgray;
    height:68px ;
    width:256.5px ;
    border-radius:9px; 
}
.pricecolor{
    color:black ;
    opacity:0.6 ;
}
.stock-fontcolor{
    color:rgb(30, 194, 30);
    font-size:18px ;
}
.checkbox1{
   margin-left:100px ;
}
.shipment{
    font-size:11px ;
    opacity:0.7 ;
}
.websitename{
    margin-left:40px ;
    font-size:11px ;
}
.addtocart-button{
    height:40px ;
    width:230px ;
 border-radius:7% ;
 margin-top:15px ;
 margin-left:13px ;
 background-color: #FFDD00 ;
}
.buynow-button{
    height:40px ;
    width:230px ;
 border-radius:7% ;
 margin-top:5px ;
 margin-left:13px ;
 background-color:  #FFA500;
}
.product-delivery-img{
    height: 34px;
    width:34px ;
    margin-left:15px ;
}
.storeimage1{
height:600px ;
}
.heading{
    color: rgb(71, 159, 130);  
}
.exchange{
    font-weight: 500;
  
}
.storeimage2{
    height:600px ;
    margin-top:50px ;
    }
    .imagetop{
        width:1320px ;
    }
    .imagetop1{
      margin-top:-6px ;
        width:1320px ;
    }
    .deleteimg{
        height:10px ;
        width:10px ;
   
    }
    .mainpageimg{
        height:300px;
       
    }
    .mainpage{
        height:300px ;
        width:1340px ;
       display: flex;
       margin-top:30px ;
    }
    .primeimg{
        height:20px;
        
    }


.displaytopimg{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.orderedimg{
    height:40px ;
    width:50px ;
}
.delete{
    height:13px ;
}
.text-top{
    font-size:11px ;
  margin-left:10px ;
  color: rgb(87, 179, 148);
}
