.dataengineer{
    display: flex;
}
.dataengineer img{
    height:80px;
    width:115px ;
    margin:10px ;
    border-radius:10px ;
}
.Coursevita-button{
   border-radius:40px ;
    height:40px;
  border:1px solid green ;
margin-left:70px ;
  margin-top:30px ; 
}
.cards{ 
    width:300px ;
background-color: antiquewhite;
    border-radius:10px ;
    border:2px solid black ;
    transition: 0.3s ;
}
.cards:hover{
    transform: scale(1.05);
}
.title-style{
    margin-left:10px ;
    font-weight: 500;
    font-size:15px ;
}
.icon{
    border-radius:50px ;
    background-color: rgb(53, 53, 164);
    margin-left:10px ;
    color: white;
}
.scroll-container {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    scroll-behavior: smooth;
  }